.movies-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.movie-container {
    width: fit-content;
    border: solid;
    padding: 1vh;
    margin: 1vh;
}

img {
    width: 40vh;
    height: 50vh;
}

#logo a {
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  
  #logo a img {
    max-height: 24px !important;
    margin: 0 !important; /* Remove margin */
    padding-left: 12%;
  }

  .btn-block {
   display: block;
    width: 25%
  }